* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Acme";
    src: url(../fonts/Acme.ttf);
}

.decorate {
    width: 100%;
    height: 100%;
    margin: auto;
    /* background-color: #3f2a29; */
    background-color: goldenrod;
    /* background-color: rgba(218, 165, 32, 0.7); */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 20px black;
    border: 30px solid transparent;
    border-image: url(../images/traditional_cutout.png) 100 round;
}

.button {
    height: 2em;
    margin-top: 10px;
    padding: 0 10px;
    font-family: "Acme";
    font-size: 1.5em;
    color: honeydew;
    background-color: firebrick;
    transition: 0.5s all ease;
}

.button:hover {
    background-color: coral;
    font-size: 2em;
    height: 1.5em;
}

.error {
    /* position: absolute; */
	text-align: center;
	font-weight: bold;
	width: 100%;
	background-color: rgba(255, 0, 0, 0.2);
	color: yellow;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: -20px;
	margin-bottom: 10px;
}

.test2 {
    background-color: rgb(130, 200, 238);
    width: 50%;
    margin: auto;
}

/*---------------------------------------
   LOGIN
 ----------------------------------------*/
#login {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/cactus_lanscape.png);
    background-size: cover;
    display: flex;
}

#login form {
    width: 300px;
    height: 160px;
}

#login section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#login label {
    font-family: "Acme";
    flex: 1;
    padding-right: 10px;
}

#login input {
    flex: 2;
    height: 2.5em;
}


/*---------------------------------------
   LOBBY
 ----------------------------------------*/
#lobby {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/saloon_closeup_or.jpg);
    background-size: cover;
    display: flex;
}

#lobby main {
    width: 90%;
    height: 80%;
    padding-top: 70px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#lobby section:first-of-type {
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 300px;
}

#lobby form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#lobby section:last-of-type {
    flex-grow: 1;
    max-height: 180px;
    width: 60%;
    max-width: 710px;
    min-width: 500px;
}

#lobby .decorate {
    background-color: rgba(218, 165, 32, 0.7);
    margin-bottom: 0;
}

#lobby .button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lobby .button:last-of-type {
    margin-top: 30px;
    background-color: dimgray;
    transition: 1s all ease;
}

#lobby .button:last-of-type:hover {
    background-color: black;
}

/*---------------------------------------
   GAME
 ----------------------------------------*/
#game {
    width: 100vw;
    height: 100vh;
}

#game main {
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.myGame {
    flex: 1;
    background-color: rgba(238, 130, 238, 0.3);
    width: 50%;
    margin: auto;
}

.opponentGame {
    flex: 1;
    background-color: rgba(236, 238, 130, 0.3);
    width: 50%;
    margin: auto;
}

/*---------------------------------------
   CHAT-ROOM
 ----------------------------------------*/
 .chat-room .chat-msg{
     margin-top: 15px;
 }