* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Acme";
    src: url(../fonts/Acme.ttf);
}

h1{
    font-family: "Acme";
}

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.decorate {
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: goldenrod;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 20px black;
    border: 30px solid transparent;
    border-image: url(../images/traditional_cutout.png) 100 round;
}

.button {
    height: 2em;
    margin-top: 10px;
    padding: 0 10px;
    font-family: "Acme";
    font-size: 1.5em;
    color: honeydew;
    background-color: firebrick;
    transition: 0.5s all ease;
}

.button:hover {
    background-color: coral;
    font-size: 2em;
    height: 1.5em;
}

.error {
	text-align: center;
	font-weight: bold;
	width: 100%;
	background-color: rgba(255, 0, 0, 0.2);
	color: yellow;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: -20px;
	margin-bottom: 10px;
}


/*---------------------------------------
   LOGIN
 ----------------------------------------*/
#login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/cactus_lanscape.png);
    background-size: cover;
    display: flex;
}

#login form {
    width: 300px;
    height: 160px;
}

#login section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

#login label {
    font-family: "Acme";
    flex: 1;
    padding-right: 10px;
}

#login input {
    flex: 2;
    height: 2.5em;
}


/*---------------------------------------
   LOBBY
 ----------------------------------------*/
#lobby {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/saloon_closeup_or.jpg);
    background-size: 100% 100%;
    display: flex;
}

#lobby main {
    width: 90%;
    height: 90%;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#lobby section:first-of-type {
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 250px;
}

#lobby form {
    z-index: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#lobby section:last-of-type {
    flex-grow: 1;
    max-height: 180px;
    width: 60%;
    max-width: 710px;
    min-width: 500px;
}

#lobby .decorate {
    background-color: rgba(218, 165, 32, 0.7);
    margin-bottom: 0;
    padding: 0px;
}

#lobby .button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lobby .button:last-of-type {
    margin-top: 20px;
    background-color: dimgray;
    transition: 1s all ease;
}

#lobby .button:last-of-type:hover {
    background-color: black;
}

/*---------------------------------------
   GAME
 ----------------------------------------*/
 #game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/old_table.01.jpg);
    background-size: cover;
}

#game main {
    width: 90%;
    height: 98%;
    display: flex;
    flex-direction: column;
}

/*-- concerning the chat --*/



/*-- concerning the overall game --*/

/* heroes */
.hero {
    position: absolute;
    right: -100px;
    width: 250px;
    height: 250px;
    /* background-color: green; */
    background-image: url(../images/heroes_bkgd.jpg);
    background-size: cover;
    border-radius: 150px;
    border: 10px solid mediumseagreen;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.myGame .hero:hover {
    border: 12px solid coral;
    border-radius: 200px;
    background-color: gold;
}

.heroImage {
    z-index: 1;
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 150px;
}

.infos {
    /* width: 120px; */
    z-index: 2;
    position: absolute;
    right: 88px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7));
    padding: 5px 15px;
    width: 100%;
    text-align: right;
}

.infos .name {
    color: yellow;
    text-shadow: 0 0 4px black, 2px 1px 2px black;
}

.hp, .mana {
    z-index: -1;
    position: absolute;
    padding: 12px 30px;
    text-align: center;
    width: 50px;
    height: 20px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.hp {
    left: -70px;
    background-color: navajowhite;
    background-image: url(../images/heart.png);
    background-repeat: no-repeat;
    background-position: center left;
}

.mana {
    left: -80px;
    background-image: url(../images/mana.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-color: gold;
}

/* card content */
.card {
    position: relative;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    background-size: cover;
}

.cardImage {
    width: 100%;
    height: 40%;
    background-color: rgb(216, 216, 171);
    border-radius: 15px 15px 0 0;
}

.cardName {
    color: white;
    width: 100%;
    padding: 3px 0;
    margin-bottom: 3px;
    background-color: mediumseagreen;
    background-blend-mode: darken;
}

.cardHp {
    position: absolute;
    top: -2px;
    right: 5px;
    width: 30px;
    height: 45px;
    background-color: navajowhite;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 3px;
    border-radius: 0 0 5px 5px;
    background-image: url(../images/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.cardMana {
    position: absolute;
    bottom: -2px;
    left: 5px;
    width: 30px;
    height: 45px;
    background-color: gold;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 3px;
    border-radius: 5px 5px 0 0;
    background-image: url(../images/mana.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.cardAttack {
    position: absolute;
    bottom: -2px;
    left: 40px;
    width: 30px;
    height: 45px;
    background-color: aquamarine;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 3px;
    border-radius: 5px 5px 0 0;
    /* background-image: url(../images/sword.svg); */
    background-image: url(../images/luchador.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* my cards */
.myGame .card div {
    font-size: xx-small;
}

.myGame .card {
    width: 90px;
    height: 150px;
    margin: 0 5px;
    padding: 5px;
}

.myGame .cardImage {
    height: 35%;
    border-radius: 15px 20px 0 0;
}

.myGame .cardHp {
    top: -4px;
    width: 20px;
    height: 35px;
    border-radius: 0 0 3px 3px;
}

.myGame .cardMana {
    bottom: -4px;
    width: 20px;
    height: 35px;
    border-radius: 0 0 3px 3px;
}

.myGame .cardAttack {
    bottom: -4px;
    left: 30px;
    width: 20px;
    height: 35px;
    border-radius: 0 0 3px 3px;
}

.remainingDeck {
    position: absolute;
    left: 20px;
    width: 90px;
    height: 140px;
    /* background-color: #000028; */
    background-image: url(../images/deck_back.jpg);
    background-size: cover;
    /* transform: rotate(90deg); */
    border-radius: 0 20px;
    box-shadow: 0 0 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellow;
    text-shadow: 0 0 10px black, 2px 1px 5px black;
    font-size: 3em;
}

.opponentGame .remainingDeck {
    margin-top: 50px;
}

/* the board */
.board {
    margin-top: 6%;
    flex-grow: 6;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    position: absolute;
    right: 20px;
    width: 70px;
    height: 200px;
    top: calc(50% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.opponentsTurn {
    position: absolute;
    left: 50%;
    height: 287px;
    width: 66px;
    background-image: url(../images/arrow_white.png);
    background-size: cover;
    transform: scaleY(-1);
}

.myTurn {
    position: absolute;
    left: 35%;
    height: 287px;
    width: 66px;
    background-image: url(../images/arrow_white.png);
    opacity: 0.7;
    background-size: cover;
}

.timeRemaining {
    z-index: 1;
    position: absolute;
    left: 50%;
    border: solid rgba(0, 0, 0, 0.788) 2px;
    border-radius: 40px;
    background-color: white;
    color: black;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeRemaining:hover {
    background-color: coral;
}

.myBoard, .opponentBoard {
    flex: 1;
    display: flex;
}

.myBoard{
    align-items: flex-start;
    padding-top: 5px;
}

.opponentBoard {
    align-items: flex-end;
    padding-bottom: 5px;
}


.card {
    width: 120px;
    height: 190px;
    margin: 0 10px;
    background-image: url(../images/deck_front.jpg); 
    border-radius: 20px 0;
}

#game .decorate {
    z-index: 2;
    padding: 0;
}

.show {
    position: absolute;
    left: 150px;
    transform: translateY(-200px);
    transition: ease 1s all;
}

#game .chat {
    position: absolute;
    top: 0;
    width: 700px;
    height: 100px;
}

.chat h1{
    position: absolute;
    bottom: -100px;
    left: 40px;
    padding: 5px;
    border: solid 2px black;
    background-color: rgba(255, 255, 255, 0.5);
}

.chat input{
    opacity: 0;
    position: absolute;
    z-index: 3; /*important*/
    bottom: -110px;
    left: 40px;
    width: 50px;
    height: 50px;
}

.chat input:checked~.show {
    transform: translateY(0px);
}


/*--  concerning my game --*/
.myGame {
    flex: 3;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.myGame .deck {
    display: flex;
    flex-direction: row;
}

.myGame .hero {
    bottom: -100px;
}

.myGame .heroImage {
    /* background-image: url(../images/heroes/avocado.png); */
    background-image: url(../images/heroes/aguacate.png);
    background-size: contain;
}

.myGame .infos {
    top: -35px;
}

.myGame .hp {
    top: 50px;
}

.myGame .mana {
    top: 100px;
}

/*-- concerning opponent's game --*/
.opponentGame {
    flex: 1;
    width: 100%;
    max-height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opponentGame .deck {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -50px;
}

.opponentGame .deck .card {
    width: 75px;
    height: 105px;
    margin: 0 5px;
    background-image: url(../images/deck_back.jpg); 
    border-radius: 12px 0;
}

.opponentGame .hero {
    top: -100px;
}

.opponentGame .heroImage {
    background-image: url(../images/heroes/chile1.png);
    background-size: 36%;
    background-repeat: no-repeat;
    background-position-x: 40px;
    background-position-y: -50px;
    transform: rotate(-10deg);
}

.opponentGame .infos {
    bottom: -35px;
}

.opponentGame .hp {
    bottom: 50px;
}

.opponentGame .mana {
    bottom: 100px;
}

/*----------------*/
.endTurn {
    z-index: 2;
    position: absolute;
    right: 20px;
    width: 70px;
    height: 200px;
    top: calc(50% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

#game .board .error,  #lobby main .error{
    position: absolute;
    bottom: 23%;
    height: 2em;
    width: 80%;
    color: white;
    text-shadow: 0 0 2px black;
    background-image: linear-gradient(to right,  rgba(0, 0, 0, 0), rgba(160, 76, 76, 0.2), rgba(255, 0, 0, 0.5), rgba(160, 76, 76, 0.2),  rgba(0, 0, 0, 0));
}

/*---------------------------------------
   BANDEROLES
 ----------------------------------------*/
.banderole {
    position: absolute;
    width: 50vw;
    height: 65vh;
    top: 0;
    left: 25vw;
    filter: drop-shadow(2px 2px 5px #222);
}

.waiting {
    background-image: url(../images/banderole_waiting.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.won {
    background-image: url(../images/banderole_won.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.lost {
    background-image: url(../images/banderole_lost.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

/*---------------------------------------
   POUR ANIMATION JAVASCRIPT
 ----------------------------------------*/
#canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.thumbleweed {
	position: absolute;
	background-image: url(../images/thumbleweed.png);
    width: 250px;
	height: 228px;
}

.chili {
	position: absolute;
    background-image: url(../images/heroes/chile1.png);
    background-size: cover;
    width: 93px;
	height: 400px;

}

.margarita {
	position: absolute;
    /* background-image: url(../images/heroes/aguacate.png); */
    background-image: url(../images/cards/margarita.png);
    background-size: cover;
    width: 739px;
	height: 484px;
    /* width: 284px;
	height: 400px; */

}

.explosion {
	position: absolute;
    background-image: url(../images/explosion.png);
    background-size: cover;
    width: 97px;
	height: 83px;

}

/*---------------------------------------
   OPTION OBSERVER : LOBBY
 ----------------------------------------*/
#lobby .observe {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border: 5px gold ridge;
    background-color: goldenrod;
    padding: 5px;
    width: 90%;
}

#lobby .observe * {
    text-align: center;
    font-size: medium;
    margin: auto 0;
    height: 2em;
}

#lobby .observe input:last-of-type {
    margin-top: 0;
}

/*---------------------------------------
   IMAGES DES CARTES
 ----------------------------------------*/
.C0 {
    /* avocat */
    background-image: url(../images/heroes/aguacate.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.C1 {
    /* lime */
    background-image: url(../images/cards/lima.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.C2 {
    /* coriandre */
    background-image: url(../images/cards/cilantro.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.C3 {
    /* ananas */
    background-image: url(../images/cards/pina.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.C4 {
    /* mangue */
    background-image: url(../images/cards/mango.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.C5 {
    /* tortilla */
    background-image: url(../images/cards/tortilla.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.C6 {
    /* tabasco */
    /* background-image: url(../images/tabasco.png); */
    background-image: url(../images/cards/hot_sauce.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.C7 {
    /* tomate */
    background-image: url(../images/cards/tomate.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.C8 {
    /* coco */
    background-image: url(../images/cards/coco2.png);
    /* background-image: url(../images/cards/coco.png); */
    background-size: cover;
    background-repeat: no-repeat;
}

.C9 {
    /* margarita */
    background-image: url(../images/cards/margarita.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.C10 {
    /* chile */
    /* background-image: url(../images/heroes/chile.png); */
    /* background-size: 70%; */
    background-image: url(../images/heroes/chile1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.Cdefault {
    /* banana */
    background-image: url(../images/cards/banana.png);
    background-size: cover;
    background-repeat: no-repeat;
}